# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [1]:
latitude = 40.7128
longitude = -74.0060
city = "New York City"
area = 783.8
population = 8_336_817
print(f"{city} is located at \"Latitude: [{latitude}], Longitude: [{longitude}]\" and has a population of {population} people.")
print(f"The area of {city} is {area} square kilometers.")
population_density = population / area
print(f"The population density of {city} is {population_density} people per square kilometer.")

New York City is located at "Latitude: [40.7128], Longitude: [-74.006]" and has a population of 8336817 people.
The area of New York City is 783.8 square kilometers.
The population density of New York City is 10636.408522582293 people per square kilometer.

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [2]:
city = "San Francisco"

lowercase_city = city.lower()
print(lowercase_city)

uppercase_city = city.upper()
print(uppercase_city)

# Replace "San" with "Los" in the city name and print the new string.

new_city = city.replace("San", "Los")
new_city

san francisco
SAN FRANCISCO

'Los Francisco'

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [3]:
# Create a list of tuples
cities = [("New York City", (40.7128, -74.0060)), ("Los Angeles", (34.0522, -118.2437)), ("Chicago", (41.8781, -87.6298))]
print(cities)

# Add a new city
cities.append(("Miami", (25.7617, -80.1918)))
print(cities)

# Print the entire list of cities.
city_names = [city[0] for city in cities]
print(city_names)

# Slice the list to print only the first two cities.
print(city_names[:2])

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298))]
[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('Miami', (25.7617, -80.1918))]
['New York City', 'Los Angeles', 'Chicago', 'Miami']
['New York City', 'Los Angeles']

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [4]:
eiffel_tower = (48.8584, 2.2945)
latitude, longitude = eiffel_tower
print(f"Latitude: {latitude}, Longitude: {longitude}")

Latitude: 48.8584, Longitude: 2.2945

#### eiffel_tower[0] = 47

#### The code raised a TypeError because tuples are immutable and cannot be changed after they are created.

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [5]:
countries = {"USA", "France", "Germany"}
countries.add("Spain")
countries

{'France', 'Germany', 'Spain', 'USA'}

In [6]:
# Try to add the same country again. What happens?
countries.add("Spain")
countries

{'France', 'Germany', 'Spain', 'USA'}

* The set did not change because sets do not allow duplicate elements.

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [7]:
# Create the dictionary
river_info = {
    "Name": "Amazon River",
    "Length": 6400,  # in km
    "Countries": ["Brazil", "Peru", "Colombia"]
}

# Add a new key-value pair for average discharge
river_info["Average Discharge"] = 209000  # in m³/s

# Update the length of the river
river_info["Length"] = 6992  # updated length in km

# Print the dictionary
print(river_info)

{'Name': 'Amazon River', 'Length': 6992, 'Countries': ['Brazil', 'Peru', 'Colombia'], 'Average Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [8]:
# Create the dictionary
city_info = {
    "Name": "Tokyo",
    "Population": 13515271,
    "Coordinates": (35.6895, 139.6917)
}

# Access and print the population of the city
print("Population:", city_info["Population"])

# Access and print the city's latitude
print("Latitude:", city_info["Coordinates"][0])

# Update the population and print the updated dictionary
city_info["Population"] = 14000000
print("Updated City Info:", city_info)

Population: 13515271
Latitude: 35.6895
Updated City Info: {'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [9]:
# Given list of cities from Exercise 3
cities = [
    ("New York City", (40.7128, -74.0060)),
    ("Los Angeles", (34.0522, -118.2437)),
    ("Chicago", (41.8781, -87.6298)),
    ("Miami", (25.7617, -80.1918))
]

# Sort the list of cities alphabetically by name
cities.sort(key=lambda city: city[0])
print("Sorted Cities:", cities)

# Create a new list that contains only the city names
city_names = [city[0] for city in cities]
print("City Names:", city_names)

# Remove the last city from the original list and print the updated list
cities.pop()
print("Updated Cities List:", cities)

Sorted Cities: [('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437)), ('Miami', (25.7617, -80.1918)), ('New York City', (40.7128, -74.006))]
City Names: ['Chicago', 'Los Angeles', 'Miami', 'New York City']
Updated Cities List: [('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437)), ('Miami', (25.7617, -80.1918))]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [10]:
# Given dictionary from Exercise 6
river_info = {
    "Name": "Amazon River",
    "Length": 6400,  # updated length in km
    "Countries": ["Brazil", "Peru", "Colombia"],
    "Average Discharge": 209000  # in m³/s
}

# Check if the key "Length" exists in the dictionary
if "Length" in river_info:
    print("The key 'Length' exists in the dictionary.")

# Print all the keys in the dictionary
print("Keys:", river_info.keys())

# Print all the values in the dictionary
print("Values:", river_info.values())

The key 'Length' exists in the dictionary.
Keys: dict_keys(['Name', 'Length', 'Countries', 'Average Discharge'])
Values: dict_values(['Amazon River', 6400, ['Brazil', 'Peru', 'Colombia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [11]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [12]:
# Create a list of location names
location_names = [location[0] for location in locations]
print(location_names)

# Create a dictionary with location names as keys and latitude and longitude as values
coordinates = {location[0]: (location[1], location[2]) for location in locations}
print(coordinates)

# Print the latitude of "K2" using the dictionary
print("Latitude of K2:", coordinates["K2"][0])

['Mount Everest', 'K2', 'Kangchenjunga']
{'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475)}
Latitude of K2: 35.8808